.App {
  text-align: center;
  width:100%;
  height:1000px;
  background-image: linear-gradient(rgb(133, 234, 133),rgb(116, 116, 238));
}
#nav{
  background-color:rgb(133, 234, 133) ;
}
.h1{
  font-family: 'Poppins', sans-serif;


  text-shadow: 2px 1px black;
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}
.card{
  background-image: linear-gradient(rgb(138, 138, 245),rgb(146, 214, 146));
}
#card{
  margin-top:250px;
  width:500px;
  
}
.card-container{
  margin-top: 30px;
  background-color: aqua;
}
#btncllick:hover{
color: aqua;
}


